<ng-container
  *ngIf="{
    signedIn: signedIn$ | async,
    signedInToGroup: signedInToRandomizerGroup$ | async,
    groupName: myRandomizerGroupName$ | async,
    BlackMarketIsUsed: BlackMarketIsUsed$ | async
  } as data"
>
  <mat-sidenav-container class="sidenavContainer default-background-color">
    <mat-sidenav #sidenav class="sidenav">
      <app-randomizer-group-list [sidenav]="sidenav">
      </app-randomizer-group-list>
    </mat-sidenav>

    <div class="sidenavMain" *ngIf="!data.signedIn">ログインしてください。</div>
    <div class="sidenavMain" *ngIf="!data.signedInToGroup">
      グループに参加してください。
    </div>

    <div class="sidenavMain" *ngIf="data.signedIn">
      <div class="margined-element">
        <button mat-raised-button color="primary" (click)="sidenav.open()">
          <mat-icon>group</mat-icon>
        </button>
        <span> Group : {{ data.groupName }} </span>
      </div>
      <mat-tab-group *ngIf="data.signedInToGroup">
        <mat-tab label="Randomizer">
          <!-- 使用する拡張セットにチェック -->
          <app-randomizer-select-cards></app-randomizer-select-cards>
          <hr />
          <app-randomizer-card-image longSideLength="180">
          </app-randomizer-card-image>
        </mat-tab>
        <mat-tab *ngIf="data.BlackMarketIsUsed" label="闇市場デッキ">
          <app-black-market-pile longSideLength="180"> </app-black-market-pile>
        </mat-tab>
        <mat-tab label="結果入力">
          <app-add-game-result></app-add-game-result>
        </mat-tab>
        <mat-tab label="勝利点計算機">
          <app-online-victory-points-calculator></app-online-victory-points-calculator>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-container>
</ng-container>
