<div *ngIf="(!!apps && !!appName) then  main; else loading"></div>
<ng-template #loading>
  <div class="body-with-padding">
    <app-loading-dots></app-loading-dots>
  </div>
</ng-template>
<ng-template #main>
  <mat-toolbar color="primary">
    <span>{{appName}}</span>
  </mat-toolbar>

  <div *ngFor="let app of apps">
    <mat-card class="appElement"
        [class.inService]="app.inService"
        [class.notInService]="!(app.inService)"
        [routerLink]="( app.inService ? app.routerLink : '' )">
      <mat-card-title>{{app.title}}</mat-card-title>
      <mat-card-subtitle>{{app.subtitle}}</mat-card-subtitle>
      <mat-card-content>{{app.description}}</mat-card-content>
    </mat-card>
  </div>
</ng-template>
