{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-jsdoc"
  ],
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true
}
