{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["**/*.md", "**/*.mdx"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["articles/**/*"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
