node_modules/
.yarn
dist
build
lib
esm
cjs
packages/slides/*/plugin
yarn.lock
.env*
*.sh
*.txt
*.eot
*.ttf
*.woff
*.png
*.jpg
*.jpeg
*.xml
*.ico
.firebaserc
hosting.YnVpbGQ.cache
LICENSE
*.log
dotenv-example
*.svg
firestore.rules
.gitignore
*.zip
.gitattributes
.npmignore
.prettierignore
.editorconfig
.vscodeignore
*.svelte
packages/utils/syncflow/docs/**/*.js
.wireit
*.tsbuildinfo

packages/strict-ts-lib/output/**/branded/diff
packages/strict-ts-lib/output/**/branded/lib-files
packages/strict-ts-lib/output/**/branded/packages
packages/strict-ts-lib/output/**/normal/diff
packages/strict-ts-lib/output/**/normal/lib-files
packages/strict-ts-lib/output/**/normal/packages
packages/strict-ts-lib/output/**/temp/copied
packages/strict-ts-lib/output/**/temp/copied-for-diff
packages/strict-ts-lib/output/**/temp/eslint-fixed

packages/others/slack-archive-tools/archive

# Optional eslint cache
.eslintcache
.eslintcache-deps
