node_modules/
.yarn
dist
build
lib
esm
cjs
packages/slides/*/plugin
yarn.lock
.env*
*.sh
*.txt
*.eot
*.ttf
*.woff
*.png
*.jpg
*.jpeg
*.xml
*.ico
.firebaserc
hosting.YnVpbGQ.cache
LICENSE
*.log
dotenv-example
*.svg
firestore.rules
.gitignore
*.zip
.gitattributes
.npmignore
.prettierignore
.editorconfig
.vscodeignore
*.svelte
packages/utils/syncflow/docs/**/*.js
.wireit
*.tsbuildinfo

packages/strict-ts-lib/source/temp/copied
packages/strict-ts-lib/source/temp/copied-for-diff
packages/strict-ts-lib/source/temp/eslint-fixed
packages/strict-ts-lib/basic/diff
packages/strict-ts-lib/basic/final
packages/strict-ts-lib/basic/packages
packages/strict-ts-lib/branded/diff
packages/strict-ts-lib/branded/final
packages/strict-ts-lib/branded/packages

# Optional eslint cache
.eslintcache
.eslintcache-deps
