{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-jsdoc"
  ],
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["experimental/**/*", "packages/tools/eslint-custom-rules/**/*"],
      "options": {
        "plugins": [
          "prettier-plugin-organize-imports",
          "prettier-plugin-packagejson"
        ]
      }
    }
  ]
}
