<ng-container
  *ngIf="{
    myIndex: myIndex$ | async
  } as data"
>
  <div class="body">
    <button
      mat-button
      class="sidebar-button"
      matTooltip="ゲーム結果"
      matTooltipPosition="before"
      (click)="showGameResultDialog()"
    >
      <mat-icon>format_list_numbered</mat-icon>
    </button>
    <button
      mat-button
      class="sidebar-button"
      matTooltip="プレイヤーのカード一覧"
      matTooltipPosition="before"
      (click)="showPlayerCards()"
    >
      <mat-icon>view_comfy</mat-icon>
    </button>
    <span class="spacer"></span>
    <button
      mat-button
      class="sidebar-button"
      matTooltip="終了"
      matTooltipPosition="before"
      (click)="exit(data.myIndex)"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</ng-container>
