/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --toolbar-height: 56px;
  --main-height: 100vh;
  --main-height-without-toolbar: calc(100vh - var(--toolbar-height));
}

* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

/* code {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
} */

a {
  text-decoration: none;
}

.default-background-color {
  background-color: #f3ebaa;
}

body {
  margin: 0;
}

input {
  min-width: 50px;
}

input[type='number'] {
  text-align: right;
}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
}

.body-with-padding {
  padding: 20px;
}

.padding5 {
  padding: 5px;
}

.padding10 {
  padding: 10px;
}

.margined-element {
  margin: 10px;
}

.alert {
  color: red;
}

.margin20 {
  margin: 20px;
}

.box-shadow {
  box-shadow:
    0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.spacer {
  flex: 1 1 auto;
}

.align-center-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.center-window {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: 40vw;
  max-width: 90vw;
  min-height: 60vh;
}

.square-container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}
.square-container-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.align-right {
  text-align: right;
}

/*
.mini-button {
  padding : 0;
  min-width : 0;
  width: 35px;
  color: rgba(0,0,0,.54);
}
*/
