.CardArea {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.BlackMarketPile {
  background-color: #c6c5c5;
}

.card-image-area {
  display: flex;
  flex-flow: row wrap;
}
.card-image-element {
  margin: 5px;
}
