<ng-container *ngIf="{
      chatOpened:          chatOpened$          | async,
      autoScroll:          autoScroll$          | async,
      loading:             loading$             | async,
      initialStateIsReady: initialStateIsReady$ | async,
      autoSort:            autoSort$            | async,
      myIndex:             myIndex$             | async,
      isMyTurn:            isMyTurn$            | async,
      gameIsOver:          gameIsOver$          | async
    } as data">

  <div class="body">
    <div class="sidebar">
      <app-sidebar-left
          [autoScroll$]="autoScroll$"
          [myIndex$]="myIndex$"
          [chatOpened$]="chatOpened$"
          (toggleSideNav)="toggleSideNav( sidenav )"
          (autoScrollChange)="autoScrollChange( $event )"
          (logSnapshot)="logSnapshot()"
          (toggleShowCardPropertyButtons)="toggleShowCardPropertyButtons()"
          (initialStateIsReadyChange)="initialStateIsReadyChange()"
        >
      </app-sidebar-left>
    </div>

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" disableClose="true"
            [opened]="data.chatOpened" >
        <app-chat [autoScroll]="data.autoScroll" [sidenav]="sidenav"> </app-chat>
      </mat-sidenav>

      <div *ngIf="!data.initialStateIsReady || data.loading"
        class="black-cover">
        <div class="modal-message">準備中です…</div>
      </div>

      <div class="main">
        <div class="upper-part">
          <div class="shared-area_other-players-area">
            <app-shared-area class="shared-area"
              [gainCardState$]="gainCardState$"
              [showCardProperty$]="showCardProperty$"
              (cardClicked)="onCardClick( data.myIndex, $event, data.autoSort )">
            </app-shared-area>
            <app-other-players-area
              class="other-players-area"
              (cardClicked)="onCardClick( data.myIndex, $event, data.autoSort )">
            </app-other-players-area>
          </div>
          <!-- <div *ngIf="!data.isMyTurn">
            <app-turn-player-area
              (cardClicked)="onCardClick( data.myIndex, $event, data.autoSort )">
            </app-turn-player-area>
          </div> -->
        </div>
        <div class="spacer"></div>
        <div class="my-area">
            <!-- [gameMessage$]="gameMessage$" -->
          <app-my-area
            [isMyTurn$]="isMyTurn$"
            [gameMessageList$]="gameMessageList$"
            [gameMessageListSliced$]="gameMessageListSliced$"
            [gameMessageIndexDelayed$]="gameMessageIndexDelayed$"
            [myIndex$]="myIndex$"
            [autoSort$]="autoSort$"
            [showCardProperty$]="showCardProperty$"
            [isBuyPlayPhase$]="isBuyPlayPhase$"
            [gameIsOver$]="gameIsOver$"
            [myThinkingState$]="myThinkingState$"
            (cardClicked)="onCardClick( data.myIndex, $event, data.autoSort )"
            (vcoinClicked)="onVcoinClick( data.myIndex, data.autoSort )"
            (debtClicked)="onDebtClick( data.myIndex, data.autoSort )" >
          </app-my-area>
        </div>
      </div>
    </mat-sidenav-container>

    <div *ngIf="data.gameIsOver" class="game-result-bar">
      <app-sidebar-right [gameResult$]="gameResult$"></app-sidebar-right>
    </div>
  </div>
</ng-container>
