<ng-container
  *ngIf="{
    enabled: enabled$ | async,
    password: password$ | async
  } as data"
>
  <div class="margined-element">
    <mat-slide-toggle
      class="margined-element"
      [checked]="data.enabled"
      (change)="check($event.checked)"
    >
      イベント編集用のパスワードを設定する
    </mat-slide-toggle>
    <mat-form-field *ngIf="data.enabled">
      <input
        matInput
        placeholder="Password"
        [value]="data.password || ''"
        (input)="passwordOnInput($event.target.value)"
      />
    </mat-form-field>
  </div>
</ng-container>
