<ng-container
  *ngIf="{
    uid: uid$ | async,
    myName: myName$ | async,
    myNameYomi: myNameYomi$ | async,
    groupListWithUsers: randomizerGroupListWithUsers$ | async
  } as data"
>
  <button
    mat-button
    color="primary"
    id="closeSideNavBtn"
    (click)="closeSideNav()"
  >
    <mat-icon>cancel</mat-icon>
  </button>
  <div class="clear"></div>

  <div class="body-with-padding sideBarBody" (click)="backgroundClicked()">
    <div id="addGroup">
      <mat-form-field>
        <input
          matInput
          [value]="newGroupName || ''"
          (input)="newGroupNameOnChange($event.target.value)"
          placeholder="New group name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [value]="newGroupPassword || ''"
          (input)="newGroupPasswordOnChange($event.target.value)"
          placeholder="Password (option)"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="
          addRandomizerGroup(
            data.uid,
            data.myName,
            data.myNameYomi,
            data.groupListWithUsers
          )
        "
        [disabled]="!newGroupName"
      >
        <mat-icon>group_add</mat-icon>
      </button>
    </div>

    <hr />

    <div *ngFor="let group of data.groupListWithUsers">
      <mat-card
        class="groupListItem"
        (click)="groupClicked($event, group.group.databaseKey)"
      >
        <mat-card-header>
          <mat-icon mat-card-avatar>group</mat-icon>
          <mat-card-title> {{ group.group.name }} </mat-card-title>
          <mat-card-subtitle>
            {{ group.users.join(', ') }}<br />
            {{ toYMDHMS(group.group.date) }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="group.group.databaseKey === selectedGroupId">
          <mat-form-field
            *ngIf="group.group.password !== ''"
            [color]="showWrongPasswordAlert ? 'primary' : 'warn'"
          >
            <input
              matInput
              placeholder="Password"
              [required]="signInPassword == ''"
              name="signInPassword"
              [value]="signInPassword || ''"
              (input)="signInPasswordOnChange($event.target.value)"
            />
            <mat-hint *ngIf="showWrongPasswordAlert" class="alert">
              Password does not match
            </mat-hint>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions *ngIf="group.group.databaseKey === selectedGroupId">
          <button
            mat-raised-button
            color="primary"
            (click)="
              signIn(
                group.group.databaseKey,
                data.uid,
                data.myName,
                data.myNameYomi,
                data.groupListWithUsers
              )
            "
            [disabled]="!!group.group.password && !signInPassword"
          >
            参加
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="
              signOut(
                group.group.databaseKey,
                data.uid,
                data.groupListWithUsers
              )
            "
            [disabled]="!!group.group.password && !signInPassword"
          >
            退出
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>
\
