<ng-container *ngIf="{
  title             : title$             | async,
  notes             : notes$             | async,
  selectedDatetimes : selectedDatetimes$ | async,
  answerDeadline    : answerDeadline$    | async,
  symbols           : symbols$           | async,
  password          : password$          | async,
  passwordEnabled   : passwordEnabled$   | async,
  scEventId         : scEventId$         | async,
  updateEventButtonDisabled : updateEventButtonDisabled$ | async
} as data">

  <div class="margined-element" *ngIf="!!data.scEventId">
    <button mat-raised-button color="normal"
        (click)="exit( data.scEventId )">
      更新せずに回答ページへ戻る
    </button>
  </div>

  <div *ngIf="!data.title" class="body-with-padding">
    <app-loading-dots></app-loading-dots>
  </div>
  <div>
    <mat-vertical-stepper class="default-background-color">
      <mat-step label="イベント名を入力">
        <app-name-and-notes
          [titleInit]="data.title"
          [notesInit]="data.notes"
          (titleChange)="titleChange( $event )"
          (notesChange)="notesChange( $event )" >
        </app-name-and-notes>
        <div class="margined-element">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="候補日程を選択">
        <app-select-dates *ngIf="data.selectedDatetimes"
          [selectedDatetimesInit]="data.selectedDatetimes"
          (selectedDatetimesChange)="selectedDatetimesChange( $event )">
        </app-select-dates>
        <div class="margined-element">
          <button mat-raised-button color="primary"
            (click)="removePastDates()">過去日の削除</button>
        </div>
        <span class="margined-element">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        </span>
        <span class="margined-element">
          <button mat-raised-button color="primary" matStepperNext >Next</button>
        </span>
      </mat-step>

      <mat-step label="回答の設定">
        <app-answer-deadline *ngIf="data.answerDeadline"
          [answerDeadlineInit]="data.answerDeadline"
          (answerDeadlineChange)="answerDeadlineChange( $event )">
        </app-answer-deadline>

        <hr>

        <app-symbol-settings *ngIf="data.symbols"
          [symbolsInit]="data.symbols"
          (symbolsChange)="symbolsChange( $event )">
        </app-symbol-settings>

        <app-password
          [passwordInit]="data.password"
          (enabledChange)="passwordEnabledChange( $event )"
          (passwordChange)="passwordChange( $event )" >
        </app-password>

        <span class="margined-element">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        </span>
        <span class="margined-element">
          <button
            mat-raised-button color="warn"
              [disabled]="data.updateEventButtonDisabled"
              (click)="updateEvent( data.scEventId )">
            イベントを更新
          </button>
          <div class="margined-element">
            <p class="error-message" *ngIf="!data.title">
              イベント名は必須項目です。
            </p>
            <p class="error-message"
              *ngIf="!data.selectedDatetimes ||
                      data.selectedDatetimes.length === 0">
              1つ以上の日程を選択してください。
            </p>
            <p class="error-message" *ngIf="!data.answerDeadline">
              回答期限は必須項目です。
            </p>
            <p class="error-message"
                *ngIf="data.passwordEnabled && data.password === ''">
              パスワードがONなのに空になっています。
            </p>
          </div>
        </span>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</ng-container>
