.body {
  width: 100%;
}
.body:not(.is-my-turn) {
  background-color: rgb(193, 193, 193);
}
.body.is-my-turn {
  background-color: rgb(
    216,
    172,
    12
  ); /*rgb(234, 197, 61)  rgb(236, 197, 139); */
}

.bar {
  width: 100%;
  padding: 6px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.bar #show-message-history-button {
  flex-grow: 0;
}
.bar .gameMessage-area {
  flex-grow: 1;
  flex-basis: 60%;
}
.bar .buttons-area {
  flex-grow: 0;
}

.bar .buttons-area {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
