.dateIsPerfect {
  background-color: #aedd03;
}

.dateIsGood {
  background-color: #d8ff62;
}

.small-font {
  font-size: xx-small;
}

.mini-button {
  padding: 0 10px;
  min-width: 0;
  max-width: 80px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.54);
}
