<ng-container
  *ngIf="{
    turnPlayersName: turnPlayersName$ | async,
  } as data"
>
  <div class="turn-player-area">
    <div class="players-name">{{ data.turnPlayersName }}</div>

    <div class="PlayArea_Aside">
      <div class="CardArea box-shadow PlayArea">
        <app-cards-lined-up
          [showCardProperty]="false"
          [DCardArray$]="turnPlayerCards.PlayArea$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick($event)"
        >
        </app-cards-lined-up>
      </div>
      <div class="CardArea box-shadow Aside">
        <app-cards-lined-up
          [showCardProperty]="false"
          [DCardArray$]="turnPlayerCards.Aside$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick($event)"
        >
        </app-cards-lined-up>
      </div>
    </div>

    <div class="Deck_HandCards_DiscardPile">
      <div class="CardArea box-shadow Deck">
        <app-cards-pile
          [showArraySize]="true"
          [showCardProperty]="false"
          [DCardArray$]="turnPlayerCards.Deck$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick($event)"
        >
        </app-cards-pile>
      </div>
      <div class="CardArea box-shadow HandCards">
        <app-cards-lined-up
          [defaultArrayLength]="5"
          [showCardProperty]="false"
          [DCardArray$]="turnPlayerCards.HandCards$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick($event)"
        >
        </app-cards-lined-up>
      </div>
      <div class="CardArea box-shadow DiscardPile">
        <app-cards-pile
          [showArraySize]="false"
          [showCardProperty]="false"
          [DCardArray$]="turnPlayerCards.DiscardPileReveresed$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick($event)"
        >
        </app-cards-pile>
      </div>
    </div>
  </div>
</ng-container>
