<ng-container *ngIf="{
    feedbacks : feedbacks$ | async
  } as data">

  <div class="body-with-padding">
    <table class="data-table  shadow3px vertical-line">
      <thead>
        <tr>
          <th>Done</th>
          <th>Name</th>
          <th>Category</th>
          <th>Issue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fb of data.feedbacks">
          <td>
            <mat-checkbox
              [checked]="fb.closed"
              (change)="issueClosedChange( fb.databaseKey, $event.checked )">
            </mat-checkbox>
          </td>
          <td>{{fb.name}}</td>
          <td>
            <div [ngSwitch]="fb.category">
              <mat-icon *ngSwitchCase="'bugReport'" matTooltip="バグ報告">bug_report</mat-icon>
              <mat-icon *ngSwitchCase="'suggestion'" matTooltip="アイデアなど">lightbulb_outline</mat-icon>
              <span *ngSwitchDefault></span>
            </div>
          </td>
          <td class="data-table--cell-alignLeft">
            {{fb.content}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
