<ng-container
  *ngIf="{
    selectedCards: selectedCards$ | async,
    cardPropertyList: cardPropertyList$ | async,
    selectedCardsCheckbox: selectedCardsCheckbox$ | async,
  } as data"
>
  <app-waiting-spinner
    [waiting]="!data.cardPropertyList || !data.selectedCards"
  >
  </app-waiting-spinner>

  <div
    *ngIf="!!data.cardPropertyList && !!data.selectedCards"
    class="supplyTable"
  >
    <div class="Prosperity_DarkAges" *ngIf="!data.selectedCards.isEmpty()">
      <mat-chip-list>
        <mat-chip
          *ngIf="data.selectedCards.Prosperity"
          color="accent"
          [selected]="true"
          >植民地場</mat-chip
        >
        <mat-chip
          *ngIf="data.selectedCards.DarkAges"
          color="accent"
          [selected]="true"
          >避難所場</mat-chip
        >
      </mat-chip-list>
    </div>

    <table class="data-table shadow3px vertical-line">
      <thead>
        <tr *ngIf="!data.selectedCards.isEmpty()">
          <th *ngIf="showSelectedCardsCheckbox"></th>
          <th>セット</th>
          <th>名前</th>
          <th>name</th>
          <th>コスト</th>
        </tr>
      </thead>

      <ng-container *ngFor="let category of selectedCardsCategories">
        <thead>
          <tr *ngIf="data.selectedCards[category.name].length > 0">
            <th colspan="5">{{ category.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let cardIndex of data.selectedCards[category.name];
              let idx = index
            "
          >
            <td *ngIf="showSelectedCardsCheckbox">
              <mat-checkbox
                *ngIf="category.name !== 'Obelisk'"
                [checked]="data.selectedCardsCheckbox[category.name][idx]"
                (change)="
                  selectedCardsCheckboxOnChange(
                    category.name,
                    idx,
                    $event.checked
                  )
                "
              >
              </mat-checkbox>
            </td>
            <td>
              {{ data.cardPropertyList[cardIndex].expansionName.join('，') }}
            </td>
            <td>
              <button
                mat-button
                color="primary"
                (click)="cardInfoButtonClicked(cardIndex)"
              >
                {{ data.cardPropertyList[cardIndex].nameJp }}
              </button>
            </td>
            <td>{{ data.cardPropertyList[cardIndex].nameEng }}</td>
            <td>{{ data.cardPropertyList[cardIndex].cost.toStr() }}</td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</ng-container>
