.header {
  background-color: rgba(34, 49, 52, 0.9);
  /* position: fixed; */
  /* top: 0;
  left: 0;
  z-index: 100; */
}

.toolbarButton {
  height: 100%;
  line-height: 64px;
}

.userName {
  font-size: 16px;
}
