body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
}

a {
  text-decoration: none;
}

/* only supported on Safari and Chrome */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb {
  opacity: 0.3;
  box-shadow: 0 0 4px #39d6dd;
  background-color: #39d6dd;
}
