<div class="wrapper">
  <div>
    <mat-form-field [color]="( errorMessageForEmail !== '' ? 'primary' : 'warn' )">
      <input matInput
          [value]="email || '' "
          (input)="emailOnChange( $event.target.value )"
          placeholder="E-mail"
          required>
    </mat-form-field>
  </div>
  <div>
    <mat-hint *ngIf="errorMessageForEmail !== '' " class="alert">
      {{errorMessageForEmail}}
    </mat-hint>
  </div>

  <div>
    <mat-form-field [color]="( errorMessageForPassword !== '' ? 'primary' : 'warn' )">
      <input matInput type="password"
          [value]="password || '' "
          (input)="passwordOnChange( $event.target.value )"
          placeholder="Password"
          required>
    </mat-form-field>
  </div>
  <div>
    <mat-hint *ngIf="errorMessageForPassword !== '' " class="alert">
      {{errorMessageForPassword}}
    </mat-hint>
  </div>


  <div class="buttons">
    <button mat-raised-button color="primary"
        [disabled]="!email || !password || waitingForResponse"
        (click)="login()">
      Login
    </button>
  </div>
</div>

<mat-progress-bar *ngIf="waitingForResponse" mode="indeterminate">
</mat-progress-bar>
