.roomList {
  padding: 20px;
}

.roomListItem {
   margin: 0 0 5px 0;
}

.roomListItem:hover {
  cursor: pointer;
}

.notWaitingForPlayers {
  background-color: #D2D2D2;
  color: #737373;
}

.return-to-game-button {
  padding: 10px;
}
