.CardArea {
  padding: 10px;
  border-radius: 10px;
  margin-bottom:10px;
  display: flex;
  flex-flow: row wrap;
}


.KingdomCards10 {
  background-color: #B5C8F1;
}

.BaneCard__Obelisk {
  background-color: #ECB6F3;
}

.EventCards__LandmarkCards {
  background-color: #9EDFA5;
}

.BlackMarketPile {
  background-color: #C6C5C5;
}
/*
.card-image-area {
  display: flex;
  flex-flow: row wrap;
} */
.card-image-element {
  margin: 5px;
}
