.CardArea {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

.KingdomCards10 {
  background-color: #b5c8f1;
}

.BaneCard__Obelisk {
  background-color: #ecb6f3;
}

.EventCards__LandmarkCards {
  background-color: #9edfa5;
}

.BlackMarketPile {
  background-color: #c6c5c5;
}
/*
.card-image-area {
  display: flex;
  flex-flow: row wrap;
} */
.card-image-element {
  margin: 5px;
}
