{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2
}
